.conteiner {
    margin: auto;
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), black), url(../media/piano.jpg) ;
    background-size: cover;
    min-height: 100px ;
    height: 150px;
    color: white;
    font-family: 'Tilt Neon', sans-serif;
    
    h2 {
        font-family: inherit;
    }
}
.nav {
    --state-close: scale(0);
    --state-hamburguer: scale(1);
    --state-menu: translate(-100%);
    padding: 40px 0;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(2, max-content);

    @media (min-width:768px) {
        --state-hamburguer:scale(0);
        --state-menu: translate(0);
    }

    &:target {
        --state-menu: translate(0);
        --state-close: scale(1);
        --state-hamburguer: scale(0);

        @media (min-width:768px) {
            transform: scale(0);
        }
    }
}

.nav__logo {
    font-size: 2.5rem;
    z-index: 1;
}

.nav__close {
    @include nav-item;
}

.nav__hamburguer {
    transform: var(--state-hamburguer);
    @include nav-item;
}

.nav__close{
    transform: var(--state-close);
}

.nav__icon {
    width: 40px;
}

.nav__links {
    background-color: black;
    list-style-type: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    display: grid;
    align-content: center;
    gap: 2rem;
    padding-left:5% ;
    transform: var(--state-menu);
    transition: 0.3s transform;

    @media (min-width:768px) {
        padding: 0;
        background-color: unset;
        position: unset;
        gap: 1.5rem;
        grid-auto-flow: column ;
        transform: unset;
        grid-column: -2/-1;
        grid-row: 1/2;
    }
}

.nav__item {
    list-style: none;
}

.nav__link {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 2px;

    @media (min-width:768px) {
        font-size: 1rem;
        letter-spacing: none;
    }
}

/* PRIMER SECCION */

.primer-seccion {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    margin: auto;

    @media screen and (min-width: 768px) {
        width: 100%;
        height: auto;
        max-width: 1200px;
        grid-template-columns: repeat(2,1fr);
        padding: 45px 0px;
    }
}

.primer-seccion__texto {
    color: white;
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
    grid-row-start: 1;
    grid-row-end: 2;
}

.primer-seccion__texto h1 {
    font-size: 30px;
}

.primer-seccion__texto h3 {
    font-size: 20px;
}
      
.primer-seccion__texto p {
    font-size: 15px;
}
.primer-seccion__imagen {
    display: flex;
    justify-content: center;
    width: 80%;
    padding-top: 30px;
    grid-row-start: 2;
    grid-row-end: 3;
}

.primer-seccion__img {
    width: 80%;
}


.primer-seccion__grupo1 {
    @media screen and (min-width: 768px) {
        width: 100%;
        height: auto;
        max-width: 1200px;
        grid-template-columns: repeat(2,1fr);
        padding: 45px 0px;
    }
}

.primer-seccion__texto {
    grid-column: 1/2;
    color: white;
    text-align: center;
    padding-right: 20px;
    margin: auto;

    h1 {
        font-size: 45px;
    }
    h3 {
        font-size: 35px;
    }
    p {
        font-size: 25px;
    }
       
}

.primer-seccion__imagen {
    margin: auto;
    grid-column: 2/3
}

.primer-seccion__img {
    width: 100%;
}

/* LÍNEA ANIMADA */ 

.linea-animada {
    width: 100%;
    height: 2px;
    margin-top: 100px;
    background-color: white;
    animation-name: efecto_linea;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-delay: 2s;
}

/* SEGUNDA SECCION */ 

.segunda-seccion {
    width: 100%;
    background-color: black;
    padding: 30px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 100px;

    @media screen and (min-width: 768px) {
        height: 500px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 150px;
    }

}

.segunda-seccion__item1 {
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 200px;
    height: auto;
    margin: auto;
    margin-bottom: 10px;
    @media screen and (min-width: 768px) {
        @include secc-item;
    }
}

.segunda-seccion__item2 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    min-width: 200px;
    margin: auto;
    margin-bottom: 10px;
    @media screen and (min-width: 768px) {
        @include secc-item;
    }
}
.segunda-seccion__item3 {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    min-width: 200px;
    height: auto;
    margin: auto;
    margin-bottom: 10px;
    @media screen and (min-width: 768px) {
        @include secc-item;
    }
    
}

.card img {
    width: 100%;
    height: 200px;
}

.card {
    width: 100px;
    transition: all 2s;
    
    &:hover{
        transform: scale(1.2);
    }
}
 


/* FOOTER */

.pie-pagina {
    width: 100%;
    background-color: black;
    
    @media screen and (min-width: 768px) {
        margin-top: 200px;
    }

    .pie-pagina__red-social {
        a {
            display: inline-block;
            text-decoration: none;
            width: 45px;
            height: 45px;
            line-height: 45px;
            color: white;
            margin-top: 10px;
            background-color: rgb(68, 64, 64);
            text-align: center;
            transition: all 0.3s ease;
            
            &:hover {
                color: aquamarine;
            }
        }
    }
    
    .pie-pagina__grupo-1 {
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
        
        @media screen and (min-width: 768px) {
            width: 100%;
            max-width: 1200;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 50px;
            padding: 45px 0px;}

        .pie-pagina__box {
            
            h1 {
            color: white;
            font-family: 'Tilt Neon', sans-serif ;
            }

            p {
                color: white;
            }
        }

        h1 {
            width: 100%;
            height: 100%;
            display: flex ;
            justify-content: center;
            align-items: center;
        }

        h2 {
            color: white;
            margin-bottom: 25px;
            font-size: 20px;
        }
    }
}



.pie-pagina__grupo-2 {
    background-color: rgb(54, 53, 53);
    padding: 15px 10px;
    text-align: center;
    color: white;
    
    small {
        font-size: 15px;
    }
}

/* quienes somos */

.quienes-somos1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    margin: auto;

    @media screen and (min-width: 768px) {
        width: 100%;    
        height: auto;
        max-width: 1200px;
        grid-template-columns: repeat(2,1fr);
        padding: 45px 0px;
    }
}

.quienes-somos1__texto {
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
}

.quienes-somos1__texto h1 {
    font-size: 30px;
    color: white;
}     

.quienes-somos1__texto p {
    font-size: 15px;
    color: white;
}

.quienes-somos1__imagen {
    display: flex;
    justify-content: center;
    width: 80%;
    padding-top: 30px;
}

.quienes-somos1__img {
    width: 80%;
}

.quienes-somos1__texto {
    grid-column: 1/2;
    text-align: left;
    padding-right: 20px;
    margin: auto;
    
    p {
        font-size: 25px;
        color: white;
    }

    h1 {
        font-size: 45px;
        color: white;
    }
}

.quienes-somos1__imagen {
    margin: auto;   
    grid-column: 2/3
}
 
.quienes-somos1__img {
    width: 100%;
}

.quienes-somos2 {
    width: 100%;
    background-color: black;
    padding: 30px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 100px;
    
    @media screen and (min-width: 768px) {
        width: 80%;
        margin: auto;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        margin-top: 150px;
    }
}

.quienes-somos2__item1 {
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 200px;
    height: auto;
    margin: auto;
    margin-bottom: 10px;
    
    @media screen and (min-width: 768px) {
        width: 50%;
        display: flex;
        justify-content: center;
    }
}

.quienes-somos2__item2 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    min-width: 200px;
    margin: auto;
    margin-bottom: 10px;
    
    @media screen and (min-width: 768px) {
        width: 50%;
        display: flex;
        justify-content: center;
    }
}


/* Inicio de sesión */

.inicia-sesion {
    display: flex;
    min-height: 100vh;
    background-color: black;
}

.form {
    background-color: white;
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px #0000004d;
    text-align: center;
}

.form__titulo {
    font-size: 1.8rem;
    margin-bottom: 0.5em;
    color: black;
    @media screen and  (min-width: 768px) {
        font-size: 1.8rem;
    }
}

.form__parrafo {
    font-weight: 300;
    color: black;

}

.form__link {
    font-weight: 400;
    color: black;
}

.form__container {
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}

.form__grupo {
    position: relative;
    color: black;
}

.form__input {
    width: 100%;
    background: none;
    color: grey;
    font-size: 1em;
    padding: 0.6em 0.3em;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    font-family: 'Roboto', sans-serif;
}

.form__input:focus + .form__label, 
.form__input:not(:placeholder-shown) + .form__label {
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: blue;
}

.form__label {
    color: black;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform 0.5s, black 0.3s;
}

.form__submit {
    background-color: blue;
    color: white;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
}

.form__linea {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: blue;
    transform: scale(0);
    transform: left bottom;
}

/*Formulario de contacto */
.form-contacto__container {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);

    @media(min-width: 768px) {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    * {
        padding: 1em;

        @media(min-width: 768px) {
            padding: 2em;
        }
    }
}

.form-contacto__formulario {
    color: white;
    background: #222222;
}

.form-contacto {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
    color: white;
    margin-top: 100px ;
    
    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        .form-contacto__block {
            grid-column: 1 / 3;
        }

        label {
            display: block;
        }

        p {
            margin: 0;
            padding: 1em;
        }

        button {
            text-transform: uppercase;
            @include form-div (1em, blue);

            &:hover {
                @include form-bttn;
            }
            &:focus {
                @include form-bttn;
            }
        }

        input {
            @include form-div;
        }

        textarea {
            @include form-div;
        }
    }
}
    


/* CONTACT INFO */
.form-contacto__texto {
    background: #000;
    color: white;
    h4 {
        text-align: center;
        margin: 0 0 1rem 0;

        @media(min-width: 768px) {
            display: grid;
            grid-template-columns: 2fr 1fr;
        }
    }
    p {
        text-align: center;
        margin: 0 0 1rem 0;

        @media(min-width: 768px) {
            text-align: left;
        }
    }

}
/* LARGE SIZE */

.clases__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;

    @media screen and (min-width:768px){
        width: 100%;
        height: auto;
        max-width: 1200px;
        grid-template-columns: repeat(2,1fr);
        padding: 45px 0px;
    }

}

.box1 {
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
    @media screen and (min-width:768px){
        grid-column: 1/2;
        text-align: left;
        padding-right: 20px;
        margin: auto;
    }
    p { 
        font-size: 15px;
        color: white;
        @media screen and (min-width:768px){
            font-size: 40px;
            color: white;
        }
    }
    h1 {
        font-size: 30px;
        color: white;
        @media screen and (min-width:768px){
            font-size: 20px;
            color: white;
        }
    }
}

.box2 {
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
    
    p {
        font-size: 15px;
        color: white;
        @media screen and (min-width:768px){
            font-size: 20px;
            color: white;
        }
    }
}

.box2__imagen {
    display: flex;
    justify-content: center;
    width: 80%;
    padding-top: 30px;
    margin: auto;

    @media screen and (min-width:768px){
        margin: auto;
        grid-column: 2/3
    }
}

.box2__img {
    width: 80%;

    @media screen and (min-width:768px){
        width: 100%;
    }
}
