/* colores */

$color-principal: black;
$color-secundario: white;
$color-complementario: grey;

/* medidas para desktop */

$h1-desktop: 45px;
$h2-desktop: 40px;
$h3-desktop: 34px;
$h4-desktop: 30px;
$p-desktop: 25px;

/* medidas para mobile */
$h1-mobile: 35px;
$h2-mobile: 30px;
$h3-mobile: 24px;
$h4-mobile: 20px;
$p-mobile: 15px;

