/* FOOTER */

.pie-pagina {
    width: 100%;
    background-color: $color-principal;
    
    @media screen and (min-width: 768px) {
        margin-top: 200px;
    }

    .pie-pagina__red-social {
        a {
            display: inline-block;
            text-decoration: none;
            width: 45px;
            height: 45px;
            line-height: 45px;
            color: $color-secundario;
            margin-top: 10px;
            background-color: $color-complementario;
            text-align: center;
            transition: all 0.3s ease;
            
            &:hover {
                color: $color-principal;
            }
        }
    }
    
    .pie-pagina__grupo-1 {
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
        
        @media screen and (min-width: 768px) {
            width: 100%;
            max-width: 1200;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 50px;
            padding: 45px 0px;}

        .pie-pagina__box {
            
            h1 {
            color: $color-secundario;
            font-family: 'Tilt Neon', sans-serif ;
            }

            p {
                color: $color-secundario;
            }
        }

        h1 {
            width: 100%;
            height: 100%;
            display: flex ;
            justify-content: center;
            align-items: center;
        }

        h2 {
            color: $color-secundario;
            margin-bottom: 25px;
            font-size: $h4-mobile;
        }
    }
}



.pie-pagina__grupo-2 {
    background-color: $color-complementario;
    padding: 15px 10px;
    text-align: center;
    color: $color-principal;
    
    small {
        font-size: 15px;
    }
}